@charset "utf-08";

*{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(180deg,#F21313,#0D0D0D);
    background-attachment: fixed;
}

main {
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 4px 3px #400101bd;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #730202;
    text-align: center;
    text-shadow: 1PX 1PX 3PX  rgba(70, 1, 1, 0.911);
}

h2 {
    color:#400101 ;
}

P {
    text-align: justify;
}